<!-- views/partials/footer.ejs-->

<footer class="footer">
    <div class="container-fluid">
      <nav class="copyright float-left">
              Medical Analytica
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made by
        <a href="" target="_blank">Team Vortex</a> 
      </div>
      <!-- your footer here -->
    </div>
  </footer>