<!-- views/partials/sidebar.ejs-->

<div class="sidebar" data-color="purple" data-background-color="white" data-image="../public/images/sidebar-1.jpg">
    <div class="logo"><a href="/doctor/home" class="simple-text logo-normal">
      Medical Analytica
    </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item ">
          <a class="nav-link" href="/doctor/home">
            <i class="material-icons">home</i>
            <p>Home</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/doctor/list">
            <i class="material-icons">account_box</i>
            <p>Patient List</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/doctor/chatbot">
            <i class="material-icons">person</i>
            <p>Chatbot</p>
          </a>
        </li>
      </ul>
    </div>
  </div>