node_modules
jokes.json
clean.py
keys
package-lock.json
rasa
dist
.vscode
dummy-code
.env
env.json
test
env
.vscode/
**/__pycache__/
**/dist/
**/.env
**/server.crt
**/server.key

## rasa
**/tests/
.bigchaindb/
bigchaindb.config.json


