<!DOCTYPE html>
<html>
<%- include('partials/dochead.ejs') %>

    <body class="w3-light-grey w3-content" style="background-color: #8c5fe0; ">
        <!--Add Medical Records-->
        <div class="transbox" style="opacity: 1;filter: alpha(opacity=60);position:absolute; left:500px;top:55px; height:1000px; width:1000px  " id="dashb">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title" id="addreco" style="font-size:40px;font-weight: bold; color:#000000;">My Prescription</h2>
                        <form method="POST" action="/addprescription">
                            <div class="row row-space">
                                <div class="col-2">

                                    <div class="input-group">
                                        <input type="hidden" name="id" value="<%= id %>">
                                        <input type="hidden" name="description" value="<%= description %>">
                                        <input type="hidden" name="pkey" value="<%= pkey %>">
                                        <label class="label" style="font-size: 25px;color: black;margin-bottom: 20px;">Prescription </label>

                                        <textarea type="text" name="prescription" class="input--style-4" style="padding-bottom: 50%; font-size: 20px;color: black;width: 100%;width: 212%"></textarea>

                                    </div>
                                </div>
                            </div>
                            <div class="p-t-15">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Jquery JS-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <!-- Vendor JS-->
        <script src="/vendor/select2/select2.min.js"></script>
        <script src="/vendor/datepicker/moment.min.js"></script>
        <script src="/vendor/datepicker/daterangepicker.js"></script>

        <!-- Main JS-->
        <script src="/js/global.js"></script>
    </body>

</html>