<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/dash.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
.w3-btn {width:150px;}
  </style>
  </head>
  <body>
    <aside class="side-nav " id="show-side-navigation1">
      <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
      <div class="heading">
        <img src="https://cdn1.imggmi.com/uploads/2020/3/1/494ae48d461c56437e9bbb02c4928960-full.jpg" alt="">
        <div class="info">
          <h3><a href="#"> Analytica </a></h3>
          <p>@Medical Heathcare</p>
        </div>
      </div>
      
      <ul class="categories">
        <li><i class="fa fa-home fa-fw" ></i><a href="/home">Home</a></li>
        <li><i class="fa fa-support fa-fw"></i><a> Reports</a>
        <ul id ="users" class="side-nav-dropdown"></ul>
        <li><i class="fa fa-support fa-fw"></i><a href="/logout"> Logout</a>

        </li>
        
      </ul>
    </aside>
    <section id="contents">
     
    {% if name == "admin" %}
    <div class="welcome">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="content">
              <h2>Welcome to Analytics</h2>
              <p>Lets us help you solve your queries!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="statistics">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <i class="fa fa-file fa-fw bg-primary"></i>
              <div class="info">
               <h3 style="padding-top: 10px;">Spam Emails: </h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <i class="fa fa-envelope fa-fw danger"></i>
              <div class="info">
                <h3 style="padding-top: 10px;">Ham Emails: </h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <i class="fa fa-envelope fa-fw danger"></i>
              <div class="info">
                <h3 style="padding-top: 10px;">Total Mails: </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="statis text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="box bg-primary">
              <i class="fa fa-eye"></i>
              <h3>95.34%</h3>
              <p class="lead">Average Online Training Accuracy</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box danger">
              <i class="fa fa-user-o"></i>
              <h3></h3>
              <p class="lead">Total Unique User</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="chrt3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9">
            <div class="chart-container">
              <canvas id="chart3" width="100%"></canvas>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
    {% else %}
    <section style="margin-top: 5%;">
      <form  method="POST" action="/report">
        <input name = "username" value="{{name}}" style="display: none;">
        <p class="lead" style="color:white;">Enter the date for weekly analysis</p><br><br>
        <input class="lead" type="date" name="date" style ="border-radius: 2px;padding: 10px;"><br><br>
        <input  class="w3-button w3-yellow w3-round-xxlarge " type="submit" title="Analyze" style ="font-size: 20px;"><br>
      </form>
    </section>
    <section class="charts">
      <div class="container-fluid" id="hidden_div" style="display: none;">
        <div class="row">
          <div class="col-md-5" >
            <div class="chart-container">
              <h3> Weekly  Analysis </h3>
              <canvas width="400" height="225" id="line"></canvas>
            </div>
          </div>
          <div class="col-md-5">
            <div class="chart-container">
              <h3>Pie</h3>
              <canvas width="400" height="225" id="pie"></canvas>
            </div>
          </div>
          <div class="col-md-5" style="margin-top: 20px;;">
            <div class="chart-container">
              <h3> Emotion Analysis</h3>
              <canvas width="400" height="225" id="bar-chart"></canvas>
            </div>
            </div>
          </div>
        
      
      </div>
    </section>
  
		{% endif %}
    
  
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
  <script src="/static/js/dash.js"></script>
  </body>
</html>

