<!DOCTYPE html>
<html lang="en">
<head>
	<title>MediBot</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
	
	<div class="log-form">
		<h2>Login to your account</h2>
		<form method="POST" action="/login">
		  <input type="text" name="name" title="name" placeholder="username" />
		  <input type="password" name= "pass" title="pass" placeholder="password" />
		  <button type="submit" class="btn">Login</button>
		</form>
	</div>


</body>
</html>