{% extends "flash.html" %}
{% block content %}
<div class="container-login100">
	<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
	  <form
		action="/register"
		class="login100-form validate-form"
		id="register"
		method="POST"
	  >
		<span class="login100-form-title p-b-33">
			Medical Analytica
		</span>

		<div class="wrap-input100 validate-input">
		  <input
			autocomplete="off"
			class="input100"
			name="name"
			placeholder="Username"
			type="text"
		  />
		  <span class="focus-input100-1"></span>
		  <span class="focus-input100-2"></span>
		</div>
		<div class="wrap-input100 rs1 validate-input">
		  <input
			class="input100"
			name="pass"
			placeholder="Password"
			type="password"
		  />
		  <span class="focus-input100-1"></span>
		  <span class="focus-input100-2"></span>
		</div>
		<div class="container-login100-form-btn m-t-20">
		  <button class="login100-form-btn">
			Sign Up
		  </button>
		  <span style="margin-top: 10px;"
			>Already have a account !
			<a class="signup-image-link" href="/"> Sign In </a></span
		  >
		</div>
	  </form>
	</div>
  </div>
  {% endblock %}